<!DOCTYPE html>
<html>
  <body ng-app="ServerRepeatExample" ng-controller="testController">

    <div>Test</div>
    <div server-repeat="post in posts track by $index">
      <div server-repeat-item server-repeat-item-data='{"id":0}'>
	<div server-bind="post.title">My First Day</div>
	<div server-bind="post.author">James</div>
	<div server-bind="post.summary">blah blah blah</div>
	<div server-bind="post.test.test">testing1</div>
	
	<div server-repeat="user in post.x.users">
	  
	  <div server-repeat-item>
	    <div server-bind="user.name">Bob</div>
	  </div>
	  <div server-repeat-item>
	    <div server-bind="user.name">George</div>
	  </div>
	  <!--
	  <div server-repeat-item-dynamic>
	    <div ng-bind="user.name">
	    </div>
	  </div>
	  -->
	</div>
        
	<button ng-click="deleteItem(0)">delete</button>
      </div>
      <div server-repeat-item>
	<div server-bind="post.title">My Second Day</div>
	<div server-bind="post.author">Johnny</div>
	<div server-bind="post.summary">blah blah</div>
	<div server-bind="post.test.test">testing2</div>
	<!--
	<div server-repeat="user in post.x.users">
	  <div server-repeat-item>
	    <div server-bind="user.name">Ricardo</div>
	  </div>
	  
	  <div server-repeat-item-dynamic>
	    <div ng-bind="user.name">
	    </div>
	  </div>
	</div>
	-->
	<button ng-click="deleteItem(1)">delete</button>
      </div>
      <div server-repeat-item>
	<div server-bind="post.title">My Third Day</div>
	<div server-bind="post.author">James</div>
	<div server-bind="post.summary">blah</div>
	<div server-bind="post.test.test">testing3</div>
	<button ng-click="deleteItem(2)">delete</button>
      </div>
      <!--
      <div server-repeat-item-dynamic>
	<div ng-bind="post.title"></div>
	<div ng-bind="post.author"></div>
	<div ng-bind="post.summary"></div>
	<button ng-click="deleteItem($index)">delete</button>
      </div>
      -->
      <!--<div ng-bind="post.title">-->
    </div>

    <button ng-click="testClick()">
      Test
    </button>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-animate.js"></script>
    <script type="text/javascript" src="angular-server-repeat.js"></script>
    <script type="text/javascript">
      angular.module('ServerRepeatExample', ['ServerRepeat']).
      controller('testController', function($scope) {

      $scope.testClick = function() {
      $scope.posts[0].author = "boss";
          //$scope.posts[0].id = 1;
          //console.log('click');
          //$scope.posts[0].users[0].name = 'The New Guy';       
          //$scope.posts[0].x.users.push({name:'The New Guy'});
          //$scope.posts[1].x.users.push({name:'Other Dude'});
          //console.log($scope.posts);
          //$scope.posts.push({title:'123',author:'Jade',summary:'Nothing to say'});
          console.log($scope.posts);
          //console.log($scope);
      
        }

        $scope.deleteItem = function(index) {
          console.log('deleteItem');
          console.log($scope.posts);
          console.log(index);
          $scope.posts.splice(index,1);
          //console.log(index);
          //console.log($scope.posts);
        }

      });
    </script>
  </body>
</html>
